<div class="column">
  <h2>7 Day Overview</h2>
  <div class="overview">
    <h3>Minutes</h3>
    <span>{{ data.minutes }}</span>
  </div>
  <div class="overview">
    <h3>Distance</h3>
    <span>{{ data.distance }} <small>km</small></span>
  </div>
  <div class="overview">
    <h3>Calories</h3>
    <span>{{ data.calories }}</span>
  </div>
</div>
<div class="column">
  <h2>Recent Activity</h2>
  <ul class="activities">
    {% for activity in data.activities %}
      <li class="{{ activity.type.toLowerCase() }}">
        <p>{{ activity.type }}</p>
        <p class="duration">{{ activity.duration }}</p>
        <p>{{ activity.startTime }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
