<div class="column">
  <h2>7 Day Overview</h2>
  <div class="overview">
    <h3>Minutes</h3>
    <span>{{ data.minutes }}</span>
  </div>
  <div class="overview">
    <h3>Distance</h3>
    <span class="distance-value">{{ data.distance }}</span> <small>km</small>
  </div>
  <div class="overview">
    <h3>Calories</h3>
    <span class="calorie-value">{{ data.calories }}</span>
  </div>
</div>
<div class="column">
  <h2>Recent Activity</h2>
  <ul class="activities">
    {% for activity in data.activities %}
      <li class="{{ activity.type.toLowerCase() }}">
        <a href="javascript:;" class="activity-link"
           data-action="show-activity" data-id="{{ activity.id }}">
          <p>{{ activity.type }}</p>
          <p class="duration">{{ activity.duration }}</p>
          <time>{{ activity.startTime }}</time>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div id="detail" class="hidden">
  <h2 class="activity-type"></h2>
  <p class="duration">[]</p>
  <a href="javascript:;" class="close" data-action="close">x</a>
  <div id="map-canvas"></div>
</div>
